@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	position: relative;
    font-family: Noto Sans TC, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol','Noto Color Emoji'
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}
